<%inherit file="app_base.htm"/>

<%block name="site_center">

<ul >

    %for pr in plist :

    <a href="/catalog/product/${product.id}/">
    <img data-product-id="${product.id}" class="img-thumbnail" src="${pr}"/>
    </a>

    %endfor

</ul>

<a href="/catalog/product/${product.id}/">
    <div class="product-tile">
        <div class="product-image"><img src="${product.image_url()}"/></div>
        <div class="product-name">${product.name}</div>
        <div class="product-price">${product.price}</div>
    </div>
</a>
</%block>

<%block name="inside_left">



</%block>

<%block name="site_right">

</%block>
