<%inherit file="app_base.htm" />

<%block name="title"> Home  </%block>

<%block name="inside_left">

<hr>
Whaaaaaa...?
<br>
<br>
That's the reaction 
most normal folks have, <br>
when 
they see our art.
<br>
But what can we say?
<br>
It comes straight from the <br>heart.
</%block>

<div id="site_center">
    <%block name="site_center">
    <img class="image-center" src="${ STATIC_URL }homepage/media/homepagepic.jpg" alt="python">

    <div id="titletext"> 
    
    Welcome to Panic Art
    <hr>
    
    <span style="font-size: 20px">American Fork, UT</span>
    
    
    </div>
    
    </%block>
</div>

<div id="site_right">
    <%block name="site_right">
    Our Art

<div class="flex-column">

<ul>
<li><img class="image-center" src="${ STATIC_URL }homepage/media/lion.jpg" alt="python" style="width: 100%"></li>
<li><img class="image-center" src="${ STATIC_URL }homepage/media/wolf.jpeg" alt="python" style="width: 100%"></li>
<li><img class="image-center" src="${ STATIC_URL }homepage/media/bear.jpeg" alt="python" style="width: 100%"></li>
<li><img class="image-center" src="${ STATIC_URL }homepage/media/swirl.jpeg" alt="python" style="width: 100%"></li>
<li><img class="image-center" src="${ STATIC_URL }homepage/media/wolf2.jpeg" alt="python" style="width: 100%"></li>


</ul>
</div>

    </%block>
</div>